body{
    background-color: blueviolet;
}
.linha1{
    font-size:larger;
    color: rgb(128, 0, 0);
}
.linha2{
    font-size: medium;
}
.linha3{
    font-size: medium;
}
.linha4{
    font-size: medium;
}
.linha5{
    font-size: medium;
}
.linha6{
    font-size: medium;
}
.linha7{
    font-size: medium;
}
.linha8{
    font-size: medium;
}
.linha9{
    font-size: medium;
}
.linha10{
    font-size: medium;
}
.linha11{
    font-size: medium;
}
.linha12{
    font-size: medium;
}
.linha13{
    font-size: medium;
}
.linha14{
    font-size: medium;
}
.linha15{
    font-size: medium;
}
.linha16{
    font-size: medium;
}
.linha17{
    font-size: medium;
}
.linha18{
    font-size: medium;
}
.linha19{
    font-size: medium;
}

.imagem1{
    width: 30px;
}
.imagem2{
    width: 30px;
}